# Byte-compiled / optimized / DLL files
__pycache__/

# venv
venv

# intellij
.idea

# Data Directories
Blacklist_Masks/
Blacklisted_Images.txt
Image_Masks/
Input_Images/
Mask_Data/
Mask_Validation/
Model_Predictions/
Training_Images/
Validation_Images/
Whitelist_Masks/
Whitelisted_Images.txt